spring:
  application:
    name: games-rental

  datasource:
#    url: jdbc:postgresql://localhost:5432/gamesrental
#    username: root
#    password: root
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yml
    database-change-log-lock-table: _liquibase_change_log_lock
    database-change-log-table: _liquibase_change_log



springdoc:
  api-docs:
    path: /v1/api-docs
  swagger-ui:
    path: /v1/swagger